<!-- Menu -->
<section id="menu">

    {{ partial "search.html" . }}

    <!-- Links -->
    <section>
        <ul class="links">
            {{ range $key, $value := .Site.Taxonomies.categories }}
            <li>
                <a href='{{ $.Site.BaseURL}}/categories/{{ $key }}/'>
                    <h3>{{ $key | humanize }}</h3>
                    <p>{{ $value.Count }} Articles</p>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>

    <!-- Actions -->
    {{/*  <section>
        <ul class="actions stacked">
            <li><a href="/categories" class="button large fit">All categories</a></li>
        </ul>
    </section>  */}}

</section>